<!doctype html>
<html>

<head>
    <title>Sneaker Box</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1 class="main">SnEaKer BoX</h1>
            <!-- <img src="../public/img/jordan-1 (1).png" alt="21 Savage Profile Photo">  -->

            <p>Login or Signup:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

        </div>

    </div>

    <div>


    </div>

    <script src="moment.js"></script>
    <script src="moment-timezone-with-data.js"></script>
</body>

</html>